<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
  </head>
  <body>
    <form class="signup" action="/signup" method="post">
      <label for="username">Choose A Username</label>
      <input type="text" name="username">
      <label for="password">Password</label>
      <input type="text" name="password">
      <label for="passwordverify">ReType Passowrd</label>
      <input type="text" name="passwordverify">
    </form>
  </body>
</html>
