main {
  width: 80%;
}

.nav {

  width: 100%;
}

h1 {
  /*width: 400px;*/
  /*margin: 20px;*/
  margin-top: 5px;
  float: left;
}

form {
  margin: 10px;
  clear: left;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin: 5px;
}

.login {
  float: right;
  margin: 10px;
}
